.card {
    width: 176px;
    font-size: .75rem;
    margin: .8125rem 2.25rem 2.25rem 2.25rem;
}

.card__image {
    width: 100%;
    border-radius: 9px;
}

.card__stats {
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
    gap: 6px;
}

.card__star {
    width: 14px;
    height: 14px;
}

.card__description {
    font-size: .75rem;
    margin-top: 0.2rem;
    font-weight: normal;
    text-align: left;
}

.card__price {
    text-align: left;
    margin-top: .2rem;
}

.bold {
    font-weight: 600;
}

.gray {
    color: #918E9B;
}