*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
}

#root {
  min-width: 550px;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}